# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.so
*.lo
**/.libs

# Shared objects
*.so
*.so.*
*.dylib

*~
*.orig

tags
aclocal.m4
ar-lib
autom4te.cache
build
compile
config.guess
config.h
config.sub
config.log
config.status
depcomp
install-sh
libtool
ltmain.sh
missing
**/Makefile.in
**/Makefile

configure
lcrd.spec
lcrd.pc
*.tar.gz
m4/*

**/.deps
**/.dirstamp
stamp-h1
